#app-container {
    display: flex;
    height: 100vh;
    overflow: hidden;
}

#app-left-column {
    width: 360px;

    .inner-container {
        background-color: #336bb4;
        height: 100%;
    }
}

#app-right-column {
    overflow-y: auto;
}

#app-header {
    height: 65px;
    box-shadow: 0px 1px 8px rgba($color: #000000, $alpha: 0.15);
    background-color: #ffffff;
    width: 100%;
    padding: 1rem 2rem;

    .page-title {
        font-size: 1.25rem;
        font-weight: 500;
    }

    .header-nav {
        ul {
            display: flex;

            li {
                a {
                    color: $grayDark;
                    font-weight: 500;
                }
            }
        }
    }
}

.app {
    &-title {
        color: #fff;
        font-size: 1.75em;
        font-weight: bold;
        padding: 0.75rem 1rem 0.75rem 2rem;
        border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.15);
    }

    &-nav {
        padding: 2rem;

        ul {
            li {
                display: block;
                padding: 1rem 0;
                &:not(:last-child) {
                    border-bottom: 1px solid rgba($color: #ffffff, $alpha: 0.15);
                }

                a {
                    //display: block;
                    color: #fff;
                    font-weight: 500;
                    position: relative;
                    text-decoration: none;

                    &.active,
                    &:hover {
                        //color: #dfaf2e;
                        //border-bottom: 3px solid #dfaf2e;

                        &::before {
                            content: "";
                            display: block;
                            position: absolute;
                            top: 0;
                            left: -8px;
                            bottom: 0;
                            width: 3px;
                            height: 100%;
                            background-color: #dfaf2e;
                        }
                    }
                }
            }
        }
    }
}

.page-content {
    padding: 2rem;
}
