input {
    &[type="text"],
    &[type="password"] {
        padding: 5px 10px;
    }
}

select {
    padding: 5px 10px;
}

.form-group {
    label {
        font-size: 0.9em;
        margin-bottom: 0.25rem;
    }

    .alert {
        font-size: var(--font-size-small);
        padding: 0.25rem 0.5rem;
    }

    input + .alert {
        margin-top: 0.5rem;
    }
}

label {
    font-weight: bold;
}
