input {
    &[type="text"],
    &[type="password"] {
        padding: 5px 10px;
    }
}

select {
    padding: 5px 10px;
}

.form-group {
    label {
        font-size: 0.9em;
    }

    .form-control {
        display: block;
        width: 100%;
        border: 1px solid $grayLight;
        border-radius: 2px;
    }
}
