input {
    &[type=text], &[type=password] {
        padding: 5px 10px;
    }
}

.form-group {
    .form-control {
        display: block;
        width: 100%;
        border: 1px solid #6366F1;
        border-radius: 2px;
    }
}