.main-menu-item {
    display: block;
    padding: 1rem 0;
    position: relative;
    text-decoration: none;
    border-bottom: 1px solid rgba($color: #fff, $alpha: 0.15);

    color: rgba($color: #ffffff, $alpha: 0.6);

    &:active,
    &:hover {
        color: #ffffff;
    }
}
