.main-menu-item {
    display: block;
    padding: 1rem 0;
    font-weight: 500;
    position: relative;
    text-decoration: none;

    color: rgba($color: #ffffff, $alpha: 0.6);

    &:active,
    &:hover {
        color: #ffffff;
    }
}
